{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css selectors</title>



<link rel="stylesheet" href="{% static 'css/c1.css'%}">   
<link rel="stylesheet" href="{% static 'css/c2.css'%}">   

</head>
<body>
    <center>
        <h1> csk msdhoni </h1>
        <img src={% static "images/msd.jpeg" alt='no img' %}>
        <img src={% static "images/msd.jpeg" alt='no img' %}>
        <img src={% static "images/msd.jpeg" alt='no img' %}>
        <img src={% static "images/msd.jpeg" alt='no img' %}>
        <img src={% static "images/msd.jpeg" alt='no img' %}>
        <img src={% static "images/msd.jpeg" alt='no img' %}>
    </center>
</body>
</html>
